extend layout
block content

    ul#Users
    li
        a(href="users") Login
    li
        a(href="signout") Comment
        
    p
    | Educational technology is "the study and ethical practice of facilitating learning and improving performance by creating, using, and managing appropriate technological processes and resources".
    p
    | Educational technology is the use of both physical hardware and educational theoretics. It encompasses several domains, including learning theory, computer-based training, online learning, and, where mobile technologies are used, m-learning. 

block sidebar
  .widget
    h1 Widget
    p
    | Please send us email   
    p
    | Emoton@gmail.com
    | Thanks
